* {
  box-sizing: border-box;
  font-family: "Noto Kufi Arabic", serif;
}

body {
  background-color: #ffffff;
  color: #292929;
  margin: 0;
  padding: 20px;
  max-width: 400px;
  margin: 0 auto;
  min-height: 100vh;
  text-align: center;
}

.title {
  color: #914d5b;
  font-weight: bold;
  font-size: 22px;
  text-align: center;
  margin-top: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-top: 30px;
}

.question-section {
  background-color: #ffafaf;
  padding: 1.5rem;
  border-radius: 10px;
  width: 100%;
  text-align: center;
}

#question-text {
  font-size: 1.4rem;
  font-weight: bold;
  font-size: 17px;
  color: #333;
}

.answers {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.answer-btn {
  background-color: #d28b8b;
  color: white;
  border: none;
  padding: 15px;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.answer-btn:hover {
  background-color: #ff9696;
}
